<!DOCTYPE html>
<html>
<head>
    <title>DZ COVID - Aide au Diagnostic</title>
    <style>
        * {
            font-size:30px;
        }
    </style>
</head>
<body>    
    <input id="image-selector" type="file">    
    <button id="predict-button">Predict</button>
    <p style="font-weight:bold">Prediction: <span id="pred"></span></p>    
    <p>Normale: <span id="Normale"></span></p>
    <p>Covid-19: <span id="Covid19"></span></p>
    <p>Pneumonie Virale: <span id="Pneumonie"></span></p>
    <img id="selected-image" src=""/>
       
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        let base64Image;
        $("#image-selector").change(function() {
            if (this.files && this.files[0] && this.files[0].name.match(/\.(png)$/) ) {
                a="data:image/png;base64,";}
            else if (this.files && this.files[0] && this.files[0].name.match(/\.(jpeg)$/) ) {
                a="data:image/jpeg;base64,";}
            else if (this.files && this.files[0] && this.files[0].name.match(/\.(gif)$/) ) {
                a="data:image/gif;base64,";}
            else if (this.files && this.files[0] && this.files[0].name.match(/\.(jpg)$/) ) {
                a="data:image/jpeg;base64,";}
            else if (this.files && this.files[0] && this.files[0].name.match(/\.(JPEG)$/) ) {
                a="data:image/jpeg;base64,";}

            let reader = new FileReader();
            reader.onload = function(e) {
                let dataURL = reader.result;
                $('#selected-image').attr("src", dataURL);
                base64Image = dataURL.replace(a,"");
                console.log(base64Image);
            }
            reader.readAsDataURL($("#image-selector")[0].files[0]);
            $("#normal-prediction").text("");
            $("#covid-prediction").text("");
            $("#pneumonia-prediction").text("");
            $("#pred").text("");
        });
        
        $("#predict-button").click(function(){
            let message = {
                image: base64Image
            }
            console.log(message);
            $.post("http://10.0.0.4:5000/predict", JSON.stringify(message), function(response){
                $("#normal-prediction").text(response.prediction.normal.toFixed(2)+"%";
                $("#covid-prediction").text(response.prediction.covid.toFixed(2)+"%");
                $("#pneumonia-prediction").text(response.prediction.pneumonia.toFixed()+"%");
                $("#pred").text(response.prediction.pred);
                console.log(response);
            });
        });       
    </script>
</body>
</html>
